.text-center.logo
  img(src='/img/logo_yellow.svg', alt='Thalos Cryptocurrency', width='10%')
  h1 Your wallet address:
.row
  .col-md-12
    p.alert.alert-success.walletAddress #{wallet}
    br
    br
    a.btn.btn-warning(href='/') Continue