section.help
  .scroll
    h2.text-center Help
    h3 Where is my wallet file located?
    p You wallet will be saved as thaloswallet.master in %appdata%/thalos-wallet on windows systems or in /usr/local/thalos-wallet on linx / osx systems.