.soon
  .stage
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer
    .layer